body {
  font-family: "Roboto", sans-serif;
  background-color: #eef9bf;
}

p {
  font-weight: bold;
  font-size: 56px;
  color: #75b79e;
}

.game {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.card {
  width: 117px;
  height: 146px;
  margin-right: 34px;
  margin-bottom: 34px;
  position: relative;
}

.face {
  width: 100%;
  height: 100%;
  background-color: #a7e9af;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.back-face {
  transform: rotateY(180deg);
}

.card.flipped .back-face {
  transform: rotateY(0deg);
}

.card.flipped .front-face {
  transform: rotateY(-180deg);
}

img {
  width: 100px;
}

@media (max-width: 640px) {
  h1 {
    font-size: 46px;
  }
  .cards {
    margin: 0 100px;
  }
}

.cards {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  margin: auto;
  width: 50%;
  display: flex;
}
